<header class="site-header" role="banner">
  <div class="row">

    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">Markdown 2</li>
          <li><a href="/docs/home.html">Docs</a></li>
          <li><a href="https://github.com/Markdown2" target="_blank">Github</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>

</header>