<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="row">
    <div class="columns large-12">
      {% include nav-breadcrumbs.html %}
    </div>
  </div>

  <section>
    {{ content }}
  </section>

  {% include footer.html %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/4.1.1/what-input.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs="
    crossorigin="anonymous"></script>
  <script>
    $(document).foundation();
  </script>
  <script src="/assets/js/search-index.js"></script>
</body>

</html>